/* CONTACT US */

.contact {
    height: 470px;
}

.message_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    row-gap: 20px;
    padding-top: .2rem;
    padding-bottom: 1.5rem;
    margin-left: 19rem;
}

 .message {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    row-gap: 20px;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin-left: 19rem;
}

.mail {
    position: absolute;
    left: 12%;
    right: 40%;
    padding: 2.5rem;
}

.email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    row-gap: 20px;
    padding-top: 5rem;
    padding-bottom: .5rem;
    margin-left: 19rem;
}

.contact_size {
    padding-top: 5rem;
    padding-bottom: .5rem;
    margin-left: 12rem;
}

.contact_line {
    border: 1px solid black;
    width: 51.5%;
    margin-left: 12rem;
    
}


/* ABOUT US */

.about_size {
    padding-top: 5rem;
    padding-bottom: .5rem;
    margin-left: 12rem;
}

.about_bar {
    border: 1px solid black;
    width: 51.5%;
    margin-left: 12rem;
}


.para3 {
    position: absolute;
    left: 9%;
    right: 40%;
    padding: 2.5rem;
    
}

.para2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.cylinder {
    grid-column-start: -1;
   
}

.cylinder img {
    margin-left: -65%;
    margin-top: -10%;
    width: 350px;
    
}

.vase img {
    width: 275px;
    height: 430px;
}

.about_container  {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 25% 25%;
    gap: 30px;
    padding: 12rem;
    
}


/* MAIN */
.from {
    font-size: 35px;
    position: absolute;
    left: 85%;
    bottom: 20%;
}

.ceramics {
    font-size: 35px;
    position: absolute;
    left: 5%;
    bottom: 60%;
}

/* NAVIGATION */

.nav_bar {
    border: 1px solid black;
}

nav a{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}

nav li {
    font-weight: bold;
    padding: none;
    display: inline;
    margin-right: 1.5rem;
}

.cara_intro {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 10%;
    
}

.cara_intro img {
    width: 30px;
}

.search span {
    position: absolute;
    left: 92%;
    top: 14%;
    
}

.search input{
    border: 1px solid black;
    position: absolute;
    left: 80%;
    top: 10%;
}

.search img {
    width: 15px;
    position: absolute;
    left: 89%;
    top: 10%;
    
    
}

/* HEADER */

header {
    position: relative;
    padding: 1rem;
    margin:  1rem auto;
    width: 100%;
}


/* OUR PRODUCTS */

.o_p {
    padding-top: 5rem;
    padding-bottom: .5rem;
    margin-left: 12rem;
}

.product_line {
    border: 1px solid black;
    width: 51.5%;
    margin-left: 12rem;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 45px;
    row-gap: 50px;
    padding-top: 5rem;
    padding-bottom: .5rem;
    margin-left: 12rem;
}

.product_image {
    width: 175px;
    height: 140px;
}

.hr_product {
    align-content: left;
    width: 30%;
    border: 1px solid black;
    
}


.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
    
}

.home {
    background-image: url(images/UX-HTML-CSS/UX-HTML-CSS/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-size: cover;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 800px;
    margin: .2%;
}

/* FOOTER */

.sentence1 {
    position: absolute;
    right: 30%;
    font-size: 10px;
    bottom: 2%;
}

.sentence {
    position: absolute;
    left: 33%;
    font-size: 10px;
    bottom: 2%;
}

.copyright {
    position: absolute;
    right: 2%;
    font-size: 10px;
    bottom: 2%;
}

h3.center {
   margin-left: 7%;
   margin-right: 7%;
}

.cara_logo img {
    width: 46px;
}

img.fb {
    margin-left: .7%;
}

img.tweet {
    margin-right: .7%;
}
.cara_logo {
    display: flex;
    justify-content: center;
    height: 52px;
    
    
}

.send_button {
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-left: 73rem;
    padding: 0.2rem;
}



footer {
    text-align: center;
    background-color: dimgray;
    background-color: RGB(191,118,49);
    padding: .5rem;
    position: fixed;
    width: 100%;
    left: 0%;
    bottom: 0%;
}

* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
 html {
    box-sizing: border-box;
    font-size: 12px;
}